.App {
   text-align: center;
}
body {
   margin: 0;
   padding: 0;
   background-image: url('https://w.wallhaven.cc/full/dp/wallhaven-dprooo.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
